<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <strong>Name: {{m.label}} Latitude: {{m.lat}}, Longitude: {{m.lng}} Temperature: {{m.temperature}} Humidity: {{m.humidity}}</strong>
    </agm-info-window>

  </agm-marker>

  <agm-circle *ngFor="let z of markers"
              [latitude]= "z.lat" [longitude]="z.lng"
              [radius]="5000"
              [fillColor]="z.color"
              [circleDraggable]="false"
              [editable]="false">
  </agm-circle>
</agm-map>
