<p>
  here the user can add new sensornodes to the database.
</p>


<div class="form">
  <form class="register-form">
    <div class="row">
      <div class="col-md-2">
      <input type="text" placeholder="sensornode name" [(ngModel)]="name" [ngModelOptions]="{standalone:true}"/>
    </div>
      <div class="col-md-2">
        <input type="text" placeholder="latitude" [(ngModel)]="latitude" [ngModelOptions]="{standalone:true}"/>
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="longitude" [(ngModel)]="longitude" [ngModelOptions]="{standalone:true}"/>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownGreenhouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div *ngIf="selectedGreenhouse != null">
              {{selectedGreenhouse.name}}, location: {{selectedGreenhouse.location}}
            </div>
            <div *ngIf="selectedGreenhouse == null">
              {{ greenhousePlaceholder }}
            </div>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownGreenhouse">
            <div *ngFor="let greenhouse of greenhouses">
              <a class="dropdown-item" (click)="selectGreenhouse(greenhouse)">{{greenhouse.name}}, location: {{greenhouse.location}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDepartment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div *ngIf="selectedDepartment != null">
              {{selectedDepartment.name}}
            </div>
            <div *ngIf="selectedDepartment == null">
              {{ departmentsPlaceholder }}
            </div>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownDepartment">
            <div *ngFor="let department of departments">
              <a class="dropdown-item" (click)="selectDepartment(department)">{{department.name}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-lg col-md-12" (click)="addSensorNode()">Add SensorNode</button>
      </div>
    </div>
  </form>
</div>


<h3>Nodes in the selected greenhouse department.</h3>
<div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="departmentsTable">
    <thead>
    <tr>
      <th class="dt-head-left">Name</th>
      <th class="dt-head-left">latitude</th>
      <th class="dt-head-left">longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let node of sensornodes">
      <td>{{ node.name }}</td>
      <td>{{ node.latitude }}</td>
      <td>{{ node.longitude }}</td>
    </tr>
    </tbody>
  </table>
</div>
