<nav>
    <ul>
      <li><img src="../../../assets/icons/smartgreenhouse-logo.png" height="45" style="margin-right: 10px"/> </li>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
        <li><a routerLink="/controlpanel" routerLinkActive="active">Control Panel</a></li>
        <li style="float:right"><a (click)="logout()" routerLink="/login" routerLinkActive="active" >Logout</a></li>
    </ul>
</nav>
