<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <img routerLink="/home" routerLinkActive="inactive" src="../../../assets/icons/smartgreenhouse-logo.png" height="45"/>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item rounded" routerLinkActive="active" routerLink="/dashboard">
        <a>Dashboard</a>
      </li>
      <li class="nav-item rounded" routerLinkActive="active" routerLink="/info">
        <a>Info</a>
      </li>
      <div class="dropdown-wrapper">
        <li class="nav-item dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        routerLinkActive="active" routerLink="/controlpanel" *ngIf="userService.isAdmin()">
          <a class="dropdown-toggle">Control Panel</a>
        </li>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="navigateUser()">Users</a>
          <a class="dropdown-item" (click)="navigateGreenhouse()">Greenhouses</a>
          <a class="dropdown-item" (click)="navigateGreenhouseAccess()">Link User to Greenhouse</a>
          <a class="dropdown-item" (click)="navigateGreenhouseDepartment()">Departments</a>
        </div>
      </div>
    </ul>
    <button class="btn navbar-btn" routerLinkActive="active" (click)="logout()" routerLink="/login">
      <a>Logout</a>
    </button>
  </div>
</nav>
