<div class="container">
  <h2>My greenhouses</h2>
  <ul class="list-group">
    <div *ngFor="let greenhouse of greenhouses">
      <li (click)="selectGreenhouse(greenhouse._id)" class="list-group-item">
        {{greenhouse.name}}
        <i *ngIf="greenhouse.departments !== undefined && greenhouse.departments.length != 0 && showcaseId != greenhouse._id"><img class="inline_svg" src="assets/icons/chevron-right.svg"/></i>
        <i *ngIf=" greenhouse.departments !== undefined && greenhouse.departments.length != 0 && showcaseId == greenhouse._id"><img class="inline_svg" src="assets/icons/chevron-down.svg"/></i>
      </li>
      <div *ngIf="showcaseId == greenhouse._id">
        <li class="list-group-item sub-item" (click)="navigate(department)" *ngFor="let department of greenhouse.departments">
          {{department.name}}
        </li>
      </div>
    </div>
  </ul>
</div>
