<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="container">
  <h1>Greenhouse list</h1>
  <ul class="list-group">
    <div *ngFor="let greenhouse of greenhouses">
      <li (click)="selectGreenhouse(greenhouse._id)" class="list-group-item">
        {{greenhouse.name}}
        <i *ngIf="greenhouse.departments.length != 0 && showcaseId != greenhouse._id" class="fas fa-chevron-down"></i>
        <i *ngIf="greenhouse.departments.length != 0 && showcaseId == greenhouse._id" class="fas fa-chevron-right"></i>
      </li>
      <div *ngIf="showcaseId == greenhouse._id">
        <li class="list-group-item sub-item" *ngFor="let department of greenhouse.departments">
          <a [routerLink]="['graphs']" [queryParams]="{ greenhouse: greenhouse._id, department: department._id }">     {{department.name}}</a>
        </li>
      </div>
    </div>
  </ul>
</div>
