<div class="container">
  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>user guide</title>
    <meta name="AUTHOR" content="SCOUT PROJECT">
    <meta name="CREATED" content="20180613;113500000000000">
    <meta name="CHANGEDBY" content="Jacob Loeve">
    <meta name="Company" content="Avans">
    <meta name="HyperlinksChanged" content="false">
    <style type="text/css">
      <!--
      @page {
        margin-left: 1in;
        margin-right: 1in;
        margin-top: 1in;
        margin-bottom: 0.49in
      }

      @page :first {
      }

      P {
        margin-bottom: 0.08in;
        direction: ltr;
        widows: 2;
        orphans: 2
      }

      H1 {
        margin-top: 0.07in;
        margin-bottom: 0in;
        background: #549e39;
        border: 3.00pt solid #549e39;
        padding: 0in;
        direction: ltr;
        text-transform: uppercase;
        color: #ffffff;
        widows: 2;
        orphans: 2;
        page-break-after: auto
      }

      H1.western {
        font-family: "Cambria", serif;
        font-size: 11pt;
        font-weight: normal
      }

      H1.cjk {
        font-size: 11pt;
        font-weight: normal
      }

      H1.ctl {
        font-size: 11pt;
        font-weight: normal
      }

      H2 {
        margin-top: 0.07in;
        margin-bottom: 0in;
        background: #daefd3;
        border: 3.00pt solid #daefd3;
        padding: 0in;
        direction: ltr;
        text-transform: uppercase;
        widows: 2;
        orphans: 2;
        page-break-after: auto
      }

      H2.western {
        font-family: "Cambria", serif;
        font-size: 10pt;
        font-weight: normal
      }

      H2.cjk {
        font-family: "Arial";
        font-size: 10pt;
        font-weight: normal
      }

      H2.ctl {
        font-size: 10pt;
        font-weight: normal
      }

      H3 {
        margin-top: 0.21in;
        margin-bottom: 0in;
        border-top: 1px solid #549e39;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding-top: 0.03in;
        padding-bottom: 0in;
        padding-left: 0in;
        padding-right: 0in;
        direction: ltr;
        text-transform: uppercase;
        color: #294e1c;
        widows: 2;
        orphans: 2;
        page-break-after: auto
      }

      H3.western {
        font-family: "Cambria", serif;
        font-size: 10pt;
        font-weight: normal
      }

      H3.cjk {
        font-family: "Arial";
        font-size: 10pt;
        font-weight: normal
      }

      H3.ctl {
        font-size: 10pt;
        font-weight: normal
      }

      H1.contents-heading-western {
        font-family: "Cambria", serif;
        font-size: 11pt;
        font-weight: normal
      }

      H1.contents-heading-cjk {
        font-size: 11pt;
        font-weight: normal
      }

      H1.contents-heading-ctl {
        font-size: 11pt;
        font-weight: normal
      }

      A:link {
        color: #6b9f25;
        so-language: zxx
      }

      -->
    </style>
  </head>
  <body lang="nl-NL" link="#6b9f25" dir="LTR">
  <h3 class="western" align="CENTER"><a name="_Toc516662512"></a><a name="_Toc516662534"></a>
    <font size="12">USER GUIDE</font></h3>
  <h3 class="western" align="CENTER"><a name="_Toc516662512"></a><a name="_Toc516662534"></a>
    <font size="4">Smart greenhouse webapplicatie</font></h3>

  <h3 class="western" style="page-break-before: always"><a name="_Toc516662536"></a>
    <font size="5" style="font-size: 20pt">Login</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Om
    toegang te krijgen tot de applicatie dient de gebruiker in te loggen.
    Als de gebruiker naar de webpagina navigeert en hij nog niet is
    ingelogd wordt het inlog scherm automatisch getoond. De gebruiker
    voert zijn/haar gebruikersnaam en wachtwoord in en klikt vervolgens
    op de Groene ‘Login’ knop.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_164b0f11.png"
                                                            name="image49.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="380" height="293" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h3 class="western" style="page-break-before: always"><a name="_Toc516662537"></a>
    <font size="5" style="font-size: 20pt">Dashboard</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Nadat
    de gebruiker is ingelogd wordt de dashboard pagina getoond.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_577ec512.png"
                                                            name="image48.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="120" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    deze pagina kan de gebruiker naar de info pagina navigeren met de
    info knop bovenaan het scherm. Als de gebruiker beschikt over
    Administrator rechten kan er gebruik worden gemaakt van het Control
    panel wat later in dit document wordt beschreven. Helemaal rechts
    boven in de hoek kan de gebruiker uitloggen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    de Dashboard pagina zelf worden de greenhouses getoond waar de
    gebruiker toegang tot heeft. De gebruiker kan een greenhouse
    aanklikken zodat de departments in de greenhouse worden getoond.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_d8440e67.png"
                                                            name="image32.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="103" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker op een department klikt wordt de pagina van dat
    department getoond. Op deze pagina worden links de verschillende
    sensoren in het department getoond. In het midden bevinden zich 2
    grafieken welke de temperatuur en de luchtvochtigheid van
    geselecteerde nodes weergeven. Rechts op de pagina staan 2 knoppen en
    een ‘kalender’.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in; page-break-before: always">
    <font size="4">Onderaan de pagina staat een implementatie van google
      maps waarop de locaties van de verschillende nodes worden
      weergegeven.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_4db014aa.png"
                                                            name="image47.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="367" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_5cf579b4.png"
                                                            name="image41.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="329" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    er links op de pagina op één van de nodes wordt geklikt wordt in de
    grafieken de data van de geselecteerde node weergegeven.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    er rechts op de pagina op de knop ‘show all data’ wordt geklikt
    wordt er in de grafieken gecombineerde data van alle nodes in het
    department getoond. Als er op de ‘kalender’ wordt geklikt kan er
    een datum interval ingevoerd of gekozen worden uit het menu. De
    grafieken tonen vervolgens de data van de geselecteerde node in het
    gekozen datum interval.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_bca06815.png"
                                                            name="image38.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="288" height="439" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in; page-break-before: always">
    <font size="4">Als er op de knop ‘add new sensornode’ wordt geklikt
      wordt er een menu geopend waarin de gebruiker een nieuwe sensornode
      kan toevoegen aan het huidige department. </font>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_c12a3713.png"
                                                            name="image39.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="500" height="441" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">In
    dit menu kan de gebruiker een naam voor de sensornode invoeren, samen
    met de latitude en longitude welke de locatie van de sensornode
    bepalen. Als laatste dient de gebruiker een hardware serial in te
    voeren zodat de sensornode ook gekoppeld is aan de echte node in de
    kas. Als de 4 vereiste velden zijn ingevoerd klikt de gebruiker op
    ‘Save’ en wordt een popup getoond of het opslaan van de
    sensornode is geslaagd.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_e12dd9e2.png"
                                                            name="image33.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="522" height="325" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan succesvol was wordt de node ook getoond aan de linkerkant
    van de pagina en wordt hij toegevoegd op de kaart onderaan de pagina.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_97c56148.png"
                                                            name="image31.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="326" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan niet succesvol was wordt bovenstaande popup getoond. De
    gebruiker heeft dan onjuiste waarden ingevoerd of de
    netwerkverbinding is niet beschikbaar. De gebruiker wordt aangeraden
    om het op een later moment nog eens te proberen, of de waarden aan te
    passen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h3 class="western"><a name="_Toc516662538"></a><font size="5" style="font-size: 20pt">Info</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    deze pagina vindt de gebruiker informatie over de applicatie en de
    achtergrond ervan. Ook is de user guide er te vinden welke beschrijft
    hoe de gebruiker de applicatie kan gebruiken.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_446e61b9.png"
                                                            name="image36.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="185" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h2 class="western"><a name="_Toc516662539"></a><font size="5" style="font-size: 20pt">Controlpanel</font></h2>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    een user beschikt over administrator rechten kan hij/zij gebruik
    maken van het control panel. Via het control panel kan de gebruiker
    users, greenhouses en departments beheren en andere users toegang
    geven tot greenhouses of juist de toegang blokkeren.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_bb550b6d.png"
                                                            name="image40.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="148" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h3 class="western" style="page-break-before: always"><a name="_Toc516662540"></a>
    <font size="5" style="font-size: 20pt">Users</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    de users pagina wordt een tabel getoond met alle users in de
    database. In de tabel staat de username van de gebruiker, of de
    gebruiker administrator rechten heeft of niet en de datum waarop het
    account is gecreëerd. Boven de tabel kan gekozen worden voor het
    maximale aantal rijen (entries) in de tabel en met het zoekveld kan
    een gebruiker worden opgezocht. Onderaan de tabel kan de gebruiker
    navigeren naar andere pagina’s van de tabel, als er meerder
    pagina’s zijn.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_c4cdc114.png"
                                                            name="image50.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="289" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in; page-break-before: always">
    <font size="4">Helemaal bovenaan staat een groene knop ‘create new
      user’, als de gebruiker hierop klikt, opent er een menu om een
      nieuwe gebruiker aan de database toe te voegen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_12cfd968.png"
                                                            name="image43.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="504" height="433" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker de gegevens van de nieuwe gebruiker heeft ingevoerd
    klikt hij/zij op de knop ‘Save’. Vervolgens wordt er een popup
    getoond die aangeeft of de nieuwe gebruiker succesvol is toegevoegd.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_8af1e35a.png"
                                                            name="image51.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="518" height="323" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    deze popup wordt getoond is de nieuwe gebruiker opgeslagen en kan het
    account worden gebruikt. De nieuwe gebruiker zal ook te vinden zijn
    in de tabel op de user pagina.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_97c56148.png"
                                                            name="image46.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="326" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan niet succesvol was wordt bovenstaande popup getoond. De
    gebruiker heeft dan onjuiste waarden ingevoerd of de
    netwerkverbinding is niet beschikbaar. De gebruiker wordt aangeraden
    om het op een later moment nog eens te proberen, of de waarden aan te
    passen.</font></p>
  <h3 class="western"><a name="_Toc516662541"></a><font size="5" style="font-size: 20pt">Greenhouses</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    de greenhouses pagina wordt een tabel getoond met alle greenhouses in
    de database. In de tabel staat de name van de greenhouse, de locatie
    van de greenhouse en de datum waarop de greenhouse is toegevoegd aan
    de database. Boven de tabel kan gekozen worden voor het maximale
    aantal rijen (entries) in de tabel en met het zoekveld kan een
    greenhouse worden opgezocht. Onderaan de tabel kan de gebruiker
    navigeren naar andere pagina’s van de tabel, als er meerder
    pagina’s zijn.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_e8561c7e.png"
                                                            name="image34.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="201" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Helemaal
    bovenaan staat een groene knop ‘add new greenhouse’, als de
    gebruiker hierop klikt, opent er een menu om een nieuwe greenhouse
    aan de database toe te voegen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_9b406392.png"
                                                            name="image55.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="505" height="334" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker de gegevens van de nieuwe greenhouse heeft ingevoerd
    klikt hij/zij op de knop ‘Save’. Vervolgens wordt er een popup
    getoond die aangeeft of de nieuwe greenhouse succesvol is toegevoegd.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_bd85a4d1.png"
                                                            name="image30.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="324" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    deze popup wordt getoond is de nieuwe greenhouse opgeslagen en kan
    deze worden gebruikt om departments aan toe te voegen. De nieuwe
    greenhouse zal ook te vinden zijn in de tabel op de greenhouses
    pagina en op het dashboard.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_97c56148.png"
                                                            name="image42.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="326" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan niet succesvol was wordt bovenstaande popup getoond. De
    gebruiker heeft dan onjuiste waarden ingevoerd of de
    netwerkverbinding is niet beschikbaar. De gebruiker wordt aangeraden
    om het op een later moment nog eens te proberen, of de waarden aan te
    passen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h3 class="western" style="page-break-before: always"><a name="_Toc516662542"></a>
    <font size="5" style="font-size: 20pt">Departments</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    de departments pagina is een dropdown menu te zien waarin de
    gebruiker een greenhouse kan selecteren.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_f1e437c6.png"
                                                            name="image26.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="642" height="138" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker een greenhouse heeft geselecteerd wordt er een tabel
    getoond met alle departments in de geselecteerde greenhouse. </font>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_f9085bfc.png"
                                                            name="image28.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="227" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">In
    de tabel kan de gebruiker op een department klikken. De gebruiker
    wordt dan doorgestuurd naar de dashboard pagina van het geselecteerde
    department. De gebruiker kan rechts in de tabel op de rode knop
    klikken om een department te verwijderen. Er wordt dan een popup
    getoond om de keuze te bevestigen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_f60c6168.png"
                                                            name="image56.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="322" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker op de rode knop klikt, sluit de popup en gebeurd er
    verder niets. Als de gebruiker in dit scherm op de groene knop klikt
    wordt het department verwijderd. Deze actie kan niet ongedaan gemaakt
    worden! Bij een succesvolle verwijdering wordt onderstaande popup
    getoond.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_63d62338.png"
                                                            name="image54.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="520" height="325" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Boven
    de tabel staat een knop ‘create new department’ als de gebruiker
    hierop klikt, opent er een menu om een nieuw department aan de
    huidige greenhouse toe te voegen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_59cbdf49.png"
                                                            name="image35.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="508" height="251" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de gebruiker de gegevens van het nieuwe department heeft ingevoerd
    klikt hij/zij op de knop ‘Save’. Vervolgens wordt er een popup
    getoond die aangeeft of het nieuwe department succesvol is
    toegevoegd.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_bd85a4d1.png"
                                                            name="image44.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="324" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    deze popup wordt getoond is de nieuwe department opgeslagen en kan
    deze worden gebruikt om sensornodes aan toe te voegen. De nieuwe
    department zal ook te vinden zijn in de tabel op de departments
    pagina en op het dashboard.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_97c56148.png"
                                                            name="image29.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="326" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan niet succesvol was wordt bovenstaande popup getoond. De
    gebruiker heeft dan onjuiste waarden ingevoerd of de
    netwerkverbinding is niet beschikbaar. De gebruiker wordt aangeraden
    om het op een later moment nog eens te proberen, of de waarden aan te
    passen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <h3 class="western" style="page-break-before: always"><a name="_Toc516662543"></a>
    <font size="5" style="font-size: 20pt">Link user to greenhouse</font></h3>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Op
    deze pagina ziet de gebruiker 2 dropdown menu’s. Hier kan de
    administrator een andere gebruiker toegang geven tot een greenhouse.
    De administrator selecteert de juiste user en selecteert vervolgens
    de greenhouse waar hij/zij de gebruiker toegang toe wil geven.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_f52b3225.png"
                                                            name="image37.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="602" height="291" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de administrator een gebruiker heeft geselecteerd wordt bovenstaande
    tabel getoond. Daarin is te zien tot welke greenhouses de
    geselecteerde gebruiker al toegang heeft. In de tabel staat de naam
    van de greenhouse en de locatie. Rechts in de tabel kan de
    administrator op de rode knop klikken om ervoor te zorgen dat de
    geselecteerde gebruiker geen toegang meer heeft tot de greenhouse.
    Als er op deze knop wordt geklikt wordt de volgende popup getoond om
    de keuze te bevestigen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_f60c6168.png"
                                                            name="image27.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="322" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    de administrator op de rode knop klikt, sluit de popup en gebeurd er
    verder niets. Als de gebruiker in dit scherm op de groene knop klikt,
    heeft de geselecteerde gebruiker geen toegang meer tot de greenhouse.
    Deze actie kan niet ongedaan gemaakt worden! Bij een succesvolle
    verwijdering wordt onderstaande popup getoond.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_e9892765.png"
                                                            name="image25.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="517" height="322" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    er een user en een greenhouse is geselecteerd kan de administrator op
    de ‘give user access to greenhouse’ knop klikken. Waarna er een
    popup wordt getoond die weergeeft of de gebruiker toegang heeft
    gekregen of niet.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_284b514b.png"
                                                            name="image52.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="325" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    deze popup wordt getoond heeft de geselecteerde gebruiker nu toegang
    tot de gekozen greenhouse.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><img src="assets/userguide/User_Guide_html_97c56148.png"
                                                            name="image45.png" align="BOTTOM" hspace="12" vspace="12"
                                                            width="519" height="326" border="0"></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><font size="4">Als
    het opslaan niet succesvol was wordt bovenstaande popup getoond. De
    gebruiker heeft dan onjuiste waarden ingevoerd of de
    netwerkverbinding is niet beschikbaar. De gebruiker wordt aangeraden
    om het op een later moment nog eens te proberen, of de waarden aan te
    passen.</font></p>
  <p style="margin-top: 0.07in; margin-bottom: 0.14in"><br><br>
  </p>

  </body>
  </html>

</div>
