<header>
  <div class="container">
    <div id="branding">
      <h1><span>{{title}}</span></h1>
    </div>
    <nav>
        <ul>
          <!-- <li><a routerLink="" routerLinkActive="inactive">{{title}}</a></li> -->
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Logout</a></li>
        </ul>
    </nav>
  </div>
</header>

<section id="router">
  <router-outlet></router-outlet>
</section>

<footer>
  <p>Smart Greenhouse</p>
</footer>