/* .container{
    width:95%;
    margin: auto;
    overflow: hidden;
} */

/* header{
    background:#35424a;
    color:#ffffff;
    padding-top:15px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #brading h1{
    margin:0;
    
}

header nav{
    float:right;
    margin-top:20px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}

header a:hover{
    font-weight: bold;
}

header .active{
    color:#e8491d;
    font-weight: bold;
} */

footer{
    padding:20px;
    margin-top:-180px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width:100%;
}
