<header *ngIf="loginService.isLoggedIn()">
  <div class="container">
    <div id="branding">
      <h1><span></span></h1>
    </div>
    <!-- <nav>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li>
        </ul>
    </nav> -->
    <app-menubar-component></app-menubar-component>
  </div>
</header>


<section id="router">
  <router-outlet></router-outlet>
</section>

<footer *ngIf="loginService.isLoggedIn()">
  <p>Smart Greenhouse</p>
</footer>
