
<div class="btn-group">
  <button (click)="navigateUser()">
    <img style="height: 40px; width: 40px" src="assets/icons/add-user.png" />
    <h3>Users</h3>
  </button>
  <button (click)="navigateGreenhouse()">
      <img style="height: 40px; width: 40px" src="assets/icons/greenhouse.png" />
    <h3>Greenhouses</h3>
  </button>
  <button (click)="navigateGreenhouseAccess()">
    <img style="height: 40px; width: auto" src="assets/icons/greenhouse-access.png" />
    <h3>Link User To Greenhouse</h3>
  </button>
</div>

<app-user-control *ngIf="selectedTab === 0"></app-user-control>
<app-green-house-control *ngIf="selectedTab === 1"></app-green-house-control>
<app-green-house-acces-control *ngIf="selectedTab === 2"></app-green-house-acces-control>
