<div class="container">
  <input type="text" placeholder="department name" [(ngModel)]="name" [ngModelOptions]="{standalone:true}"/>

  <select class="custom-select" (change)="selectGreenhouse($event)">
    <option *ngFor="let greenhouse of greenhouses">{{greenhouse.name}} at {{greenhouse.location}}</option>
  </select>
  <div class="btn-group">
    <button class="btn btn-rounded btn-app-medium-grey dropdown-toggle" type="button" id="dropdownGreenhouse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div *ngIf="selectedGreenhouse != null">
        {{selectedGreenhouse.name}}, location: {{selectedGreenhouse.location}}
      </div>
      <div *ngIf="selectedGreenhouse == null">
        {{ greenhousePlaceholder }}
      </div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownGreenhouse">
      <div *ngFor="let greenhouse of greenhouses">
        <a class="dropdown-item" (click)="selectGreenhouse(greenhouse)">{{greenhouse.name}}, location: {{greenhouse.location}}</a>
      </div>
    </div>
  </div>

  <button class="btn btn-rounded btn-app-green" (click)="addDepartment()">Add Greenhouse Department</button>
  <h3>Departments in the selected greenhouse.</h3>
  <div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="departmentsTable">
      <thead>
      <tr>
        <th class="dt-head-left">Name</th>
        <th class="dt-head-left">Active</th>
        <th class="dt-head-left">Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department.name }}</td>
        <td>{{ department.active }}</td>
        <td>{{ department.createdAt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
