<div class="container">
  <div class="form-group">
    <label for="custom-select" class="col-form-label">Selected Greenhouse</label>
    <select class="custom-select" id="custom-select"[(ngModel)]="selectedGreenhouseId" (ngModelChange)='onOptionsSelected($event)'>
      <option *ngFor="let greenhouse of greenhouses" [value]="greenhouse._id">{{greenhouse.name}} at {{greenhouse.location}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="department-text-input" class="col-form-label">New department name</label>
    <input class="form-control" placeholder="main department" type="text" id="department-text-input"
             [(ngModel)]="name" [ngModelOptions]="{standalone:true}" >
  </div>

  <button class="btn btn-rounded btn-app-green" (click)="addDepartment()">Add Greenhouse Department</button>
  <hr/>
  <h5>Existing departments in {{selectedGreenhouse.name}}</h5>
  <div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="departmentsTable">
      <thead>
      <tr>
        <th class="dt-head-left">Name</th>
        <th class="dt-head-left">Active</th>
        <th class="dt-head-left">Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments" (click)="navigateDepartment(department)">
        <td>{{ department.name }}</td>
        <td>{{ department.active }}</td>
        <td>{{ department.createdAt}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
